//用來寫重複的樣式

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-bg-effect($color: #E9ECEF) {
  transition: color 0.2s ease; // 讓變色平滑

  &:hover {
    color: $color;
  }
}

@mixin ellipsis($lines: 1) {
  @if $lines ==1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @else {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}