@use '../../../styles/mixins' as m;

main {
    width: 100%;
    height: 80px;
    @include m.center-flex;
}

.textBox {
    width: 100%;
    max-width: 1920px;
}

.textBox ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 312px;
}

/* 前3個li靠左 */
.textBox ul li:not(.forIcon) {
    margin-right: 48px;
}

/* 移除最後一個非icon li的右邊距 */
.text3 {
    margin-right: auto;
}

/* icon靠右 */
.forIcon {
    margin-left: auto;

}

.text1 {
    font-weight: bold;
    font-size: 20px;
}

.text2,
.text3 {
    font-size: 16px;
}

/* RWD: 768px 以下變成 2*2 佈局 */
@media (max-width: 768px) {
    main {
        height: 120px;
    }

    .textBox ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 60px;
        gap: 0;
        padding: 0;
        height: 100%;
    }

    /* 重置所有 margin */
    .textBox ul li {
        margin: 0 !important;
    }

    /* URBNSTEP 在左上 */
    .text1 {
        grid-column: 1;
        grid-row: 1;
        padding: 21px 24px;
        display: flex;
        align-items: center;
    }

    /* icon 在右上 */
    .forIcon {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
        padding: 24px 24px;
        display: flex;
        align-items: center;
    }

    .text2 {
        grid-column: 1;
        grid-row: 2;
        background-color: #E8FEC5;
        text-align: center;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text3 {
        grid-column: 2;
        grid-row: 2;
        background-color: #F5FEE7;
        text-align: center;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}