@use '../../../styles/mixins' as m;

main {
    width: 100%;
    height: 80px;
    // 改成SCSS
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include m.center-flex;
}

.textBox {
    // background: yellow;
    width: 100%;
    max-width: 1920px;
}

.textBox ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 312px;
}

/* 前3個li靠左 */
.textBox ul li:not(.forIcon) {
    margin-right: 48px;
    /* li之間的間距 */
}

/* 移除最後一個非icon li的右邊距 */
.text3 {
    margin-right: auto;
}

/* icon靠右 */
.forIcon {
    margin-left: auto;
}


.text1 {
    font-weight: bold;
    font-size: 20px;
}

.text2,
.text3 {
    font-size: 16px;
}