@use '../../../styles/mixins' as *;

main {
  width: 100%;
  height: 80px;
    @include center-flex;

}

.textBox {
  width: 100%;
  max-width: 1920px;
}

.textBox ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 312px;
  margin: 0;
}

// /* 偽元素圓點 */
// .logoText {
//   position: relative;
//   display: inline-block;
// }

// .logoText::after {
//   content: "";
//   display: block;
//   width: 8px;
//   height: 8px;
//   background-color: #c0FA73;
//   border-radius: 50%;
//   position: absolute;
//   top: 1px;
//   right: -1px;
//   z-index: -5;
// }
// 偽元素在不同螢幕，綠點位置會有所不同，故取消使用

.textBox ul li:not(.forIcon) {
  margin-right: 48px;
}

.text3 {
  margin-right: auto !important;
}

.forIcon {
  margin-left: auto;
}

.text1 {
  font-weight: bold;
  font-size: 20px;
}

.text2,
.text3 {
  font-size: 16px;
  font-weight: 600;
  
}
.text1 a:hover,
.text2 a:hover,
.text3 a:hover, {
  opacity: 0.7;
}
.text1 a,
.text2 a,
.text3 a {
  text-decoration: none;
  color: inherit;
}


@media (max-width: 1200px) {
  main {
    height: auto;

  }

  .textBox ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 第一排 72px (Logo層), 第二排 48px (綠底層) */
    grid-template-rows: 72px 48px;
    padding: 0;
    width: 100%;
  }

  .textBox ul li {
    margin: 0 !important;
    width: 100%;
    height: 100%;
    /* 讓 li 撐滿 Grid 格子 */
    display: flex;
    align-items: center;
  }

  /* Logo 靠左 padding */
  .text1 {
    grid-column: 1;
    grid-row: 1;
    padding-left: 24px;
    justify-content: flex-start;
  }

  /* Icon 靠右 padding */
  .forIcon {
    grid-column: 2;
    grid-row: 1;
    padding-right: 24px;
    justify-content: flex-end;
  }

  /* 商品列表 - 深綠底 */
  .text2 {
    grid-column: 1;
    grid-row: 2;
    background-color: #E8FEC5;
    justify-content: center;
  }

  /* 品牌故事 - 淺綠底 */
  .text3 {
    grid-column: 2;
    grid-row: 2;
    background-color: #F5FEE7;
    justify-content: center;
  }

  /* 確保連結區域撐滿，讓整塊綠色都能點擊 */
  .text2 a,
  .text3 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}