@use '../../../styles/mixins' as m;

.container {
    width: 100%;
    max-width: 1920px;
    height: 717px;
    padding: 64px 0; //說不定不用
    @include m.center-flex;
    gap: 24px;
    margin: 0 auto; //讓他超過1920也置中
}

.pic {

    width: 526px;
    height: 589px;
    border-radius: 12px; //不知具體是多少
    background-image: url('/login1920.png');
    background-repeat: no-repeat; //這沒差
    // background-position: center;//這樣上面比較像但下面不向，若有這行就反之
    background-size: cover;
}

.contentBox {
    width: 746px;
    height: 589px;
    border-radius: 4px;
    @include m.center-flex;
    background-color: #edeeee;
    flex-direction: column;
    gap: 32px;
}

.loginRegister {
    @include m.center-flex;


}

.login,
.register {
    width: 293px;
    height: 43px;
    @include m.center-flex;


}

.contentBox1 {
    font-weight: bold;
    font-size: 28px;
    height: 34px;
}

.formarginBot {
    border-bottom: 2px solid #212529;
    font-weight: bold;
}

.formarginBotGray {
    border-bottom: 2px solid #DEE2E6;
    cursor: pointer;
}

.contentBox3 {
    @include m.center-flex;

    flex-direction: column;
    gap: 8px;
}

.META,
.APPL,
.GOOG {
    // @include m.center-flex;
    display: flex;
    align-items: center;
    border: 1px solid #DEE2E6;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #DEE2E6;
    // width: 100%;
    // max-width: 568px;
    // height: 100%;
    // max-height: 64px;

    width: 586px;
    height: 64px;
    cursor: pointer;

    &:hover {
        background-color: #DEE2E6;
    }

    &:active {
        background-color: #F5FEE7;
    }
}

.META span {
    width: 40px;
    height: 40px;
    background-image: url('/facebook.svg');
    margin: 12px;
}

.APPL span {
    width: 40px;
    height: 40px;
    background-image: url('/apple.svg');
    margin: 12px;
}

.GOOG span {
    width: 40px;
    height: 40px;
    background-image: url('/google.svg');
    margin: 12px;
}

@media (max-width:1200px) {
    .container {
        height: auto;
        padding: 0 !important; //說不定不用
        gap: 0 !important;
        flex-direction: column;
    }

    .contentBox {
        background-color: white;
        margin-top: 32px; //若照設計稿 都要推32px 但footer設計關係就下方不推
        height: auto;
    }

    .contentBox,
    .pic {
        width: 100%;

    }

    //
    .pic {
        aspect-ratio: 375 / 240;
        height: auto;
        background-image: url('/login-sm.png');
        background-repeat: no-repeat; //這沒差
        background-position: center;
        //上面比較像但下面不向，若有這行就反之
        background-size: cover;
        border-radius: 0;
    }

    .contentBox {
        padding: 0 12px;
    }

    .contentBox1 {
        font-weight: bold;
        font-size: 24px;
    }

    .contentBox2 {
        width: 100%;
        /* 確保這層容器撐滿 */
    }

    .login,
    .register {
        aspect-ratio: 175.5 / 43;
        width: 100%;
        height: auto;

    }

    .META,
    .APPL,
    .GOOG {
        aspect-ratio: 351 / 64;
        width: auto;
        height: auto;
    }
}