main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    max-width: 1920px;
    height: 80px;

    border: 2px solid darkblue;
}

footer {
    width: 100%;
    max-width: 1920px;

    // 沒設hight
    border: 2px solid rgb(224, 155, 36);
}

.topBox {
    width: 100%;
    max-width: 1920px;
    height: 800px;
    display: flex;
    // justify-content: center;
    align-items: center;

    background-image: url('/banner.png');
    background-size: cover;
    background-position: center;
}

.topBoxContent {
    color: white;
    width: 586px;
    height: 223px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.urbnstep {
    font-size: 50px;
}

.yourStep {
    font-size: 20px;
}

.topBoxBtn {
    background-color: #c0FA73;
    border-radius: 5px;
    border: none;
    height: 48px;
    width: 115px;
}

.topBoxBtn:hover {
    color: #6C757D;
}


// 2*2
.twoxtwoBox {
    width: 100%;
    // height: 1708px;
    background-color: white;

    display: flex;
    justify-content: center;
    // align-items: center;

}

.twoxtwoBoxTopBox {
    display: flex;
    flex-direction: column; //一行一個div
    // justify-content: center;
    align-items: center;
    height: 108px;
}

.newArrival {
    font-size: 40px;
}

.newitem {
    font-size: 30px;
}

.twoxtwoBoxContent {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;



}

.twoxtwoBoxPicture img {
    width: 100%;
    max-width: 636px;
    height: auto;
    object-fit: cover;
}

.twoxtwoBoxPicture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 固定 2 欄 */
    gap: 20px;
}

.productTitle {
    font-size: 20px;
}


// 1*4
.fourBoxContent {
    width: 100%;
    max-width: 1920px;
    height: 498px;
    margin: auto 0;
}

.fourBoxPics {
    display: flex;
    justify-content: space-between;
    /* 4張圖平均分布 */
    flex-wrap: nowrap;
    /* 不換行 */
    gap: 20px;
}

.fourBoxPic {
    position: relative;
    /* 讓 .no1 可以疊在圖片上 */
    width: 306px;
    /* 固定寬度 */
    height: auto;
    /* 高度隨圖片比例 */


}

.fourBoxPic img {
    display: block;
    width: 100%;
    height: auto;

}

.no1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 91px;
    height: 37px;
    background-color: #E8FEC5;
    color: #477A11;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottomBanner {
    width: 100%;
    max-width: 1920px;
    height: 566px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomBannerPic {
    position: relative;
    /* 讓文字可以疊在圖片上 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomBannerPic img {
    display: block;
    max-width: 100%;
    /* 不超過容器寬度 */
    height: auto;
    /* 保持比例 */
}

.bottomBannerText {
    position: absolute;
    /* 疊在圖片上 */
    color: white;
    text-align: center;
}


.graytext {
    color: #ADB5BD;
}

.grayhover {
    width: 100%;
    max-width: 636px;
    height: 100%;
    max-height: 636px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(108, 117, 125, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;

}