 main {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 nav {
   width: 100%;
   max-width: 1920px;
   height: 80px;
 }

 footer {
   width: 100%;
   max-width: 1920px;
   // padding: 20px;
 }

 .topBox {
   width: 100%;
   max-width: 1920px;
   height: 800px;
   display: flex;
   align-items: center;
   background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner.png?raw=true');
   background-size: cover;
   background-position: center;
 }

 .topBoxContent {
   color: white;
   width: 586px;
   height: 223px;

   display: grid;
   // justify-content: center;
   align-items: center;
   margin-left: 200px;

 }

 .urbnstep {
   color: white;
   font-size: 64px;
   font-weight: bold;
 }


 .urbnstep ul {
   font-size: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   gap: 24px;
   font-weight: 700;
   font-style: bold;
   line-height: 120%;
   letter-spacing: 5%;
   text-size-adjust: 100%;


 }

 .yourStep {
   font-size: 32px;
   font-weight: bold;
   color: white;
   margin: 16px 0 0 0;

 }

 .topBoxBtn {
   background-color: #c0FA73;
   border-radius: 5px;
   border: none;
   height: 48px;
   width: 115px;
   font-size: 16px;
   font-weight: 600;
   margin-top: 48px;
   cursor: pointer;
   padding: 12px 24px;
 }

 .topBoxBtn:hover {
   color: #6C757D;
 }

 .twoxtwoBox {
   width: 100%;
   background-color: white;
   display: flex;
   justify-content: center;
   padding: 0 12px;
 }

 .twoxtwoBoxTopBox {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 108px;
   margin: 30px 0;
 }

 .newArrival {
   font-size: 48px;
   font-weight: bold;
 }

 .newitem {
   font-size: 32px;
   font-weight: bold;
 }

 .twoxtwoBoxContent {
   width: 100%;
   max-width: 1296px;
   margin: 0 auto;
 }

 .twoxtwoBoxPicture img {
   width: 100%;
   max-width: 636px;
   height: auto;
   object-fit: cover;
 }

 .twoxtwoBoxPicture {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
 }

 .productTitle {
   font-size: 20px;
 }

 .fourBox {
   width: 100%;
   display: block;
   padding: 40px 12px;
   //不確定是否上下40px

 }

 .fourBoxContent {
   width: 100%;
   max-width: 1296px;
   height: auto;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .fourBoxPics {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 24px;
   height: 100%;
 }

 .fourBoxPic {
   position: relative;
   width: 306px;
   height: 100%;
 }

 .fourBoxPic img {
   display: block;
   width: 100%;
   height: 100%;
 }

 .no1 {
   position: absolute;
   top: 0;
   left: 0;
   width: 91px;
   height: 37px;
   background-color: #E8FEC5;
   color: #477A11;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;

 }

 .bottomBanner {
   width: 100%;
   max-width: 1920px;

   height: 566px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 //e
 .bottomBannerPic {
   position: relative;
   width: 100%;
   max-width: 1920px;
   height: 470px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
 }

 .bottomBannerPic img {
   display: block;
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
 }

 .picStar {
   position: absolute;
   width: 48px;
   height: 48px;
   z-index: 10;

   top: -32px;
   left: -56px; //32+48/2

 }

 .picSp {
   position: absolute;
   width: 76px;
   height: 64px;
   z-index: 10;
   bottom: 32px;
   right: -38px;

 }


 .bottomBannerText {
   width: 100%;
   max-width: 634px;
   height: 100%;
   max-height: 270px;
   position: absolute;
   color: white;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;

 }



 .urbnstep ul li:nth-child(odd) {
   color: white;

 }

 .urbnstep ul li:nth-child(even) {

   font-size: 26px;

   color: #C0FA73;
 }





 .graytext {
   font-size: 20px;
   color: #ADB5BD;
   margin-top: 32px;
   font-weight: 400;
   letter-spacing: 5%;
 }

 .grayhover {
   width: 100%;
   max-width: 636px;
   height: 100%;
   max-height: 636px;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(108, 117, 125, 0.4);
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: white;
   font-size: 24px;
 }

 .grayhover:hover {
   color: #C0FA73;
 }

 h2 {
   font-size: 32px;
   margin-bottom: 16px;
 }

 .puzzle {
   width: 100%;
   max-width: 1920px;
   height: 826px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 64px 12px;
 }

 .puzzleAndText {
   width: 100%;
   max-width: 1296px;
   height: 698px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
 }

 .puzzleContent {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 8px;
   width: 100%;
   height: 644px;
 }

 .puzzleContent img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .comma {
   display: inline;
   color: #ADB5BD;
 }

 .br {
   display: none;
 }

 .pic1 {
   grid-column: 1;
   grid-row: 1;
 }

 .pic2 {
   grid-column: 2;
   grid-row: 1;
 }

 .pic3 {
   grid-column: 1 / 3;
   grid-row: 2 / 4;
 }

 /* 左下大圖 */
 .pic4 {
   grid-column: 3;
   grid-row: 1;
 }

 .pic5 {
   grid-column: 4;
   grid-row: 1;
 }

 .pic6 {
   grid-column: 3;
   grid-row: 2;
 }

 .pic7 {
   grid-column: 4;
   grid-row: 2;
 }

 .pic8 {
   grid-column: 3;
   grid-row: 3;
 }

 .pic9 {
   grid-column: 4;
   grid-row: 3;
 }

 .pic10 {
   grid-column: 5 / 7;
   grid-row: 1 / 3;
 }

 /* 右上大圖 */
 .pic11 {
   grid-column: 5;
   grid-row: 3;
 }

 .pic12 {
   grid-column: 6;
   grid-row: 3;
 }




 @media (max-width: 1200px) {
   nav {
     height: 120px;
   }

   .topBox {
     width: 100%;
     max-width: 1920px;
     height: 480px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-sm.png?raw=true');
     background-size: cover;
     background-position: center;
   }

   .topBoxContent {

     width: 100%;
     height: auto;
     display: grid;
     gap: 8px;
     align-items: center;
     margin-left: 0;
     padding: 0 24px;
   }

   .urbnstep {
     font-size: 48px;
   }

   .yourStep {
     font-size: 20px;
     margin: 16px 0 0px 0;
   }



   .topBoxBtn {
     margin-top: 32px;
   }

   .newArrival {
     font-size: 32px;
   }

   .newitem {
     font-size: 24px;
   }

   //
   .fourBox.hotSales .fourBoxPics {
     display: flex;
     overflow-x: auto;
     /* 允許橫向滾動 */
     overflow-y: hidden;
     gap: 16px;
     /* 讓滑動更順暢 */

     scroll-snap-type: x mandatory;
     /* 可選:滑動時會自動對齊 */
   }

   .fourBox.hotSales .fourBoxPic {
     flex-shrink: 0;
     /* 防止圖片縮小 */
     width: 300px;

     scroll-snap-align: start;
     /* 配合 scroll-snap 使用 */
   }

   //bottombanner RWD
   .bottomBanner {
     width: 100%;
     max-width: 1920px;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .bottomBannerPic {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 498px;
   }

   .bottomBannerPic img {
     display: block;
     max-width: 100%;
     height: 450px;
   }

   .bottomBannerText {
     position: absolute;
     color: white;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: auto;
     height: auto;
     max-height: none;
     //  padding: 64px 12px;


   }

   .urbnstep ul {

     list-style: none;
     gap: 8px;
     flex-direction: column;

   }

   //bottombanner RWD
   //

   .fourBox.series .fourBoxPics {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     gap: 12px;
   }

   .fourBox.series .fourBoxPic {
     width: 100%;
     height: auto;
   }

   .fourBox.series .fourBoxPic img {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }

   h2 {
     font-size: 24px;

   }

   .urbnstep ul li:nth-child(odd) {
     color: white;
     font-size: 32px;

   }

   .urbnstep ul li:nth-child(even) {

     font-size: 24px;
     line-height: 120%;
   }

   .graytext {
     width: 351px;
     font-size: 16px;
     margin-top: 24px;
   }

   .comma {
     display: none;

   }

   .br {
     display: inline;
   }

   .picStar {

     width: 48px !important;
     height: 48px !important;
     z-index: 10;

     top: -20px;
     left: -32px; //慢慢調

   }

   .picSp {

     width: 76px !important;
     height: 64px !important;
     z-index: 10;
     bottom: 32px;
     right: -38px;

   }

   .puzzle {
     height: auto;
     padding: 40px 12px;
   }

   .puzzleAndText {
     height: auto;
   }

   .puzzleContent {
     display: flex;
     overflow-x: auto;
     /* 允許橫向滾動 */
     overflow-y: hidden;
     gap: 16px;
     /* 讓滑動更順暢 */
     height: auto;
     scroll-snap-type: x mandatory;
     /* 可選:滑動時會自動對齊 */
   }

   .puzzleContent img {
     width: 300px;
     height: 300px;
     object-fit: cover;
   }

   .grayhover {
     font-size: 16px;
   }

   .productTitle {
     font-size: 16px;
   }
 }